# Folders
node_modules
dist
build
coverage

# Personal Configs
.gitconfig
.vscode/settings.json

# Private Environments
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Some CI tools may create a package-lock file so we ignore it since we use `yarn` in development
package-lock.json 

# Ignore workflow folder created by `act` 
workflow